@using Ativ3_PedroOliveira.Models
@model AgendamentoModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Pré agendamento</h2>
<form asp-action="Agendamento" method="Post">
<p>
    <label asp-for="Nome">Nome:</label>
    <input asp-for="Nome" />
</p>
<p>
    <label asp-for="Telefone">Telefone:</label>
    <input type="tel" asp-for="Telefone" />
</p>
<p>
    <label asp-for="Data">Data:</label>
    <input type="date" asp-for="Data" />
</p>
<p>
    <label asp-for="Animal">Animal:</label>
    <select asp-for="Animal">
        <option value="cao">Cão</option>
        <option value="gato">Gato</option>
        <option value="passaro">Pássaro</option>
        <option value="outro">Outro</option>
    </select>
</p>
<p>
    <label asp-for="Necessidade">Necessidade:</label>
    <textarea rows="5" cols="40" asp-for="Necessidade">
    </textarea>
</p>
<input type="submit" value="Enviar" />
</form>