@using Ativ3_PedroOliveira.Models
@{
    ViewData["Title"] = "Home Page";
}

<h2>Serviços</h2>

<ul>
   <li>Banho</li>
    <li>Banho para deixa seu pet limpo</li>
    <li>R$ 50,00</li>
    <li>Tosa</li>
     <li>Tosar os pelos do animal</li>
     <li>R$ 40,00</li>
    <li>Corte de unhas</li>
     <li>Corte de unhas em todos os tipos de animais</li>
     <li>R$ 10,00</li>
</ul>